<section class="section bg-color py-6 flex flex-col justify-center sm:py-16">
	<div class="card relative py-3">
		<div class="flex items-center space-x-5">
			<div class="block pl-2 font-semibold text-xl self-start text-gray-700">
				<h2 class="contact-us-heading dark:text-white mb-10 text-center">Get in touch</h2>

				<p class="text-sm text-gray-500 font-normal Description">Our friendly team wold love to hear from you</p>
			</div>
		</div>

		<form [formGroup]="theForm" class="w-full relative px-12 py-8 bg-white mt-10 shadow">
			<div class="text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
				<div class="form-group flex flex-col">
					<label class="leading-loose">Your Name</label>
					<input type="text" formControlName="name" class="px-4 py-4 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" placeholder="e.g, Joseph">
				</div>
				
				<div class="form-group flex flex-col">
					<label class="leading-loose">Your Email</label>
					<input type="email" formControlName="email" class="px-4 py-4 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" placeholder="e.g, joseph687@gmail.com">
				</div>
			
				<div class="form-group flex flex-col">
					<label class="leading-loose">Message</label>
					<textarea type="text" rows="4" formControlName="message"
						class="px-4 py-4 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" 
						placeholder="Let tell us about your thoughts on this...">
					</textarea>
				</div>
			</div>

			<div class="pt-10 flex justify-center">
				<button type="button" [disabled]="theForm.invalid" (click)="onSendMessage()"
					class="btn-send-msg flex justify-center items-center text-white px-4 py-3 rounded-md focus:outline-none">
					Send message
				</button>
			</div>
		</form>
	</div>
</section>