:host {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    .section {
		width: 100%;
		height: 75vh;
		min-height: var(--min-height-carousel);
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		position: relative;

		@media screen and (max-width: 850px) {
			height: 115vh;
		}

		.slides {
			position: relative;
			flex-grow: 1;
			overflow: hidden;
			list-style: none;
			margin: var(--unit-1);
			height: 100%;

			.slide {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		.thumbnails {
			list-style: none;
			display: flex;
			flex-direction: row;
			flex-grow: 1;
			flex-wrap: wrap;
			justify-content: center;
			margin: 0;
			padding: 0;
			overflow: hidden;
			width: 100%;
			height: 2rem;
			position: absolute;
			bottom: 2rem;
			z-index: 1000;
		}
		
		.thumbnails li {
			background-color: #D9D9D9;
			width: .8rem;
			height: .8rem;
			border-radius: 50%;
			cursor: pointer;
			margin-right: 1rem;
			transition: opacity var(--transition-duration) var(--transition-function);
		}

		.thumbnails li.is-active {
			background-color: var(--color-primary);
		}
    }
}