.font-semibold {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.nav-bg {
    background-color: var(--color-primary);
}

.logo {
    font-size: 3rem;
    font-weight: 700;
}

.sub-logo {
    font-size: 2.5rem;
    font-weight: 300;
}