.header {
	height: 7rem;
	background-color: var(--color-primary);
	padding: 0 8rem;

	@media screen and (max-width: 767px) {
		padding: 0 2rem;
	}

	.font-semibold {
		font-style: normal;
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 1.6rem;
	}
	
	.logo {
		font-size: 3rem;
		font-weight: 700;
	}
	
	.sub-logo {
		font-size: 2.5rem;
		font-weight: 300;
	}
	
	.active {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			bottom: -27px;
			left: 0;
			height: 5px;
			border-radius: 2px;
			background-color: #fff;
			width: 100%;
		}
	}
}