:host {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    .carousel {
      width: 100%;
      height: 70vh;
      min-height: var(--min-height-carousel);
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      position: relative;

      .slides {
        position: relative;
        flex-grow: 1;
        overflow: hidden;
        list-style: none;
        margin: var(--unit-1);
        height: 100%;
        .slide {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      .thumbnails {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 100%;
        height: 20px;
        position: absolute;
        bottom: 20px;
        z-index: 1000;
      }
      
      .thumbnails li {
        background-color: white;
        width: 10px;
        height: 10px;
        border: 2px solid black ;
        border-radius: 50%;
        cursor: pointer;
        margin-right: 2px;
        opacity: 0.2;
        transition: opacity var(--transition-duration) var(--transition-function);
      }
      .thumbnails li.is-active {
        opacity: 1;
      }
    }
  
}