<div class="carousel">
    <ul class="slides">
      <li class="slide" *ngFor="let slide of slides; let i = index"
        [@slideState]="getAnimationSlideState(i)">
  
        <ng-container
          *ngTemplateOutlet="slideTemplateRef; context: { $implicit: slide }">
        </ng-container>
      </li>
    </ul>
  
    <ul class="thumbnails" *ngIf="slides.length > 1 && isThumbnailsVisible">
      <li
        *ngFor="let slide of slides; let i = index"
        [class.is-active]="i === activeSlides.current"
        (click)="select(i)">
  
        <ng-container
          *ngTemplateOutlet="thumbnailTemplateRef; context: { $implicit: slide }">
        </ng-container>
      </li>
    </ul>
  </div>
        