.footer {
	background-color: var(--color-secondary);
	padding: 2.5rem 8rem;

	@media screen and (max-width: 767px) {
		padding: 2rem;
	}

	.logo-line {
		font-size: .8rem;
		color: #949C9E;
		margin-top: -1rem;

		.line {
			width: 4.6rem;
			height: 1px;
			background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.997917) 99.99%, #FFFFFF 100%);
		}
	}

	.logo {
		font-size: 3rem;
		font-weight: 700;
		color: #FFFFFF;
	}
	
	.sub-logo {
		font-size: 2.3rem;
		font-weight: 300;
		color: #FFFFFF;
		margin-top: 4px;
	}
	
	.footer-para {
		font-size: 1.2rem;
		font-weight: 400;
		text-align: left;
		color: #949C9E;
	
	}
	
	.footer-text {
		font-weight: 400;
		font-size: 1.3rem;
		line-height: 1.6rem;
		color: #FFFFFF;
	}
	
	.footer-border {
		border-top: .5px solid #949C9E;
		opacity: .5;
	}

	.text-heading {
		color: #949C9E;
		font-size: 1.4rem;
		font-weight: 400;
	}
}