
.bg-color{
    background: #FAFAFA;
}
.shadow {
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05), -4px -4px 40px rgba(0, 0, 0, 0.05);
}

.leading-relaxed {
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 4.2rem;
    display: flex;
    justify-content: center;
    color: #323238;
}

.Description {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #949C9E;
    line-height: 1.9rem;
}

.sm-screen{
    margin-left: 2rem;
}