<div class="bg-color py-6 flex flex-col justify-center sm:py-12">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div class="flex items-center space-x-5">
      <div class="block pl-2 font-semibold text-xl self-start text-gray-700">
        <h2 class="leading-relaxed ">Get in touch</h2>
        <p class="text-sm text-gray-500 font-normal Description sm-screen">Our friendly team wold love to hear from you</p>
      </div>
  
    </div>
    <div class="relative  px-4 py-10 bg-white mx-8 md:-mx-40 mt-8 shadow sm:py-10">
      <div class="max-w-xl mx-auto">
        <div class="">
          <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
            <div class="flex flex-col">
              <label class="leading-loose">Your Name</label>
              <input type="text" class="px-4 py-4 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" placeholder="e.g, Joseph">
            </div>
            <div class="flex flex-col">
              <label class="leading-loose">Your Email</label>
              <input type="text" class="px-4 py-4 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" placeholder="e.g, joseph687@gmail.com">
            </div>
           
            <div class="flex flex-col">
              <label class="leading-loose">Message</label>
              <input type="text" class="px-4 py-4 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" placeholder="Let tell us about your thoughts on this...">
            </div>
          </div>
          <div class="pt-4 flex items-center space-x-4">
              <button class="bg-blue-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none">Send message</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>