.header {
	height: 7rem;
	background-color: var(--color-primary);
	padding: 0 8rem;

	@media screen and (max-width: 767px) {
		padding: 0 2rem;
	}

	.font-semibold {
		font-style: normal;
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 1.6rem;
	}

	li {
		cursor: pointer;
	}
	
	.logo {
		font-size: 3rem;
		font-weight: 700;
	}
	
	.sub-logo {
		font-size: 2.5rem;
		font-weight: 300;
	}

	.mobile-nav {
		display: none;
		flex-direction: column;
		background-color: var(--color-primary);
		color: #fff;

		position: absolute;
		top: 6.9rem;
		left: 0;
		width: 100%;
		z-index: 1;

		@media screen and (max-width: 767px) {
			display: flex;
		}

		ul {
			li {
				padding: 1.6rem 0;
				&:not(:last-child) {
					border-bottom: 1px solid #fff;
				}
			}
		}
	}
	
	.active {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			bottom: -27px;
			left: 0;
			height: 5px;
			border-radius: 2px;
			background-color: #fff;
			width: 100%;
		}
	}
}