<header class="header">
	<!-- navbar -->
	<nav class="flex justify-between text-white h-full">
		<div class="flex items-center">
			<a class="text-3xl font-bold font-heading" href="#">
				<span class="logo">Me</span>
				<span class="sub-logo">Volve</span>
			</a>
		</div>

		<!-- Nav Links -->
		<div class="flex items-center">
			<ul class="hidden md:flex px-4 mx-auto font-semibold font-heading space-x-20">
				<li><a routerLink="/" routerLinkActive="active">Home</a></li>
				<li><a (click)="goto('/', 'features')">Features</a></li>
				<li><a (click)="goto('/', 'pricing')">Pricing</a></li>
				<li><a (click)="goto('/', 'contactUs')">Contact Us</a></li>
			</ul>
		</div>
		
		<!-- Responsive navbar -->
		<a class="flex navbar-burger cursor-pointer self-center md:hidden" (click)="toggleMenu()">
			<svg *ngIf="!showMobMenu" xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 hover:text-gray-200" fill="none"
				viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
			</svg>

			<svg *ngIf="showMobMenu" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
				<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
			</svg>
		</a>

		<nav class="mobile-nav" *ngIf="showMobMenu">
			<ul class="px-4 font-semibold font-heading">
				<li><a routerLink="/" (click)="showMobMenu = false;">Home</a></li>
				<li><a (click)="goto('/', 'features')">Features</a></li>
				<li><a (click)="goto('/', 'pricing')">Pricing</a></li>
				<li><a (click)="goto('/', 'contactUs')">Contact Us</a></li>
			</ul>
		</nav>
	</nav>
</header>