<carosuel 
	[autoPlayDuration]="5000" 
	animation="slide" 
	[isNavigationVisible]="true" 
	[isThumbnailsVisible]="true" 
	[slides]="slides"
	[slideTemplateRef]="slide" 
	[thumbnailTemplateRef]="thumbnail">
</carosuel>

<!-- <app-rules></app-rules>

<description-view [imageDirection]="'left'" [imageUrl]="'assets/images/mobile1.png'"></description-view>
<description-view [imageDirection]="'right'" [imageUrl]="'assets/images/mobile2.png'"></description-view>
<description-view [imageDirection]="'left'" [imageUrl]="'assets/images/mob3.PNG'" [marginTop]="'0'"></description-view>

<customize-view [imageDirection]="'left'" [imageUrl]="'assets/images/passcode.png'" ></customize-view>
<customize-view [imageDirection]="'right'" [imageUrl]="'assets/images/calender.png'"></customize-view>

<section class="video-section">
	<div class="video-container">
		<video src="/assets/videos/sample.mp4" controls type="video/mp4"></video>
	</div>

	<p class="mb-5 text-base text-gray-700 md:text-lg mt-8">
		Watch Mevolve demo video to understand the application.
	</p>
</section>

<app-pricing></app-pricing> -->

<app-contact-us></app-contact-us>

<ng-template #slide let-slide>
	<div class="slides-container flex justify-evenly">
		<div class="description text-center flex flex-col items-center justify-center">
			<h1 class="font-medium leading-tight text-5xl mt-0 text-600">Automate self-development</h1>

			<p class="my-8">Evolve daily by efficiently managing your time, thoughts, tasks and routines in a simple app.</p>

			<button class="btn-watch rounded mb-8">
				<i class="fas fa-play mr-6"></i> 
				Watch Video
			</button>

			<div class="app-btns-container flex justify-center">
				<button class="btn-app mr-4 rounded">
					<img class="mr-2" src="/assets/images/app-store.png" alt="App Store">

					<div class="flex flex-col">
						<span class="btn-text">Download on the</span>
						<span>App Store</span>
					</div>
				</button>

				<button class="btn-app rounded">
					<img class="mr-2 playstore-img" src="/assets/images/playstore.webp" alt="Play Store">

					<div class="flex flex-col">
						<span class="btn-text uppercase text-4">Get it on</span>
						<span>Google Play</span>
					</div>
				</button>
			</div>
		</div>

		<div class="carousel-img-container">
			<img [src]="slide.url" alt="Carousel Image">
		</div>
	</div>
</ng-template>

<ng-template #thumbnail let-slide>
	<div [ngStyle]="{
		'background-size': 'cover',
		'background-image': 'url(' + slide.url + ')',
		'background-repeat': 'no-repeat',
		'background-position': 'center center',
		'width': '100%',
		'height': '100%'
		}">
	</div>
</ng-template>