<div class="container" [style.flex-direction]="flexDirection">
    <div class="img-section">
        
        <img [src]="imageUrl" style="width: 100%; height:70%" />
    </div>
    <div class="description-section">
        <div class="title">Customize the way you like</div>
        <ul class="list">
            <li class="info">Turn OFF-On the features that you want to use</li>
            <li class="info">Ligh and dark theme</li>
            <li class="info">Multi-theme color</li>
        </ul>
    </div>
</div>
