.container{
    height: 375px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 300px;
    // margin-bottom: 15px;

    .img-section {
        height: 100%; 
        width: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 250px;
    }

    .description-section {
        height: 100%; 
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        
        .title {
            font-size: 24px;
            font-weight: 500;
        }

        .info {
            // margin-left: 50px;
            color: gray;
            width: 350px;
            font-size: 16px;
            font-weight: 400;
        }

        .list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            list-style-type: disc;
            margin-left: 15px;
        }
    }
}

@media screen and (max-width: 1100px){
	.container {

        display: flex !important;
		flex-direction: column !important;
        align-items: center;
        padding: 0;

        .img-section {
            min-width: 300px;
        }

        .description-section {
            min-width: 300px;
        }
	}
}