<section class="section" [style.flex-direction]="flexDirection">
    <div class="img-section">
        <img [src]="imageUrl"/>
    </div>
	
    <div class="description-section">
		<h2 class="text-4xl font-extrabold dark:text-white mb-4">Customize the way you like</h2>

        <ul class="list">
            <li class="info">Turn OFF-On the features that you want to use</li>
            <li class="info">Ligh and dark theme</li>
            <li class="info">Multi-theme color</li>
        </ul>
    </div>
</section>
