.pricing-card {
    display: flex;
    justify-content: center;
}

.text {

    font-weight: 600;
    font-size: 3.6rem;
    line-height: 4.2rem;
    color: #323238;
}

.card {
    width: 20.6rem;
    height: 17.7rem;
    gap: 20;
    border-radius: 0.6rem;
}

strong {
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 4.2rem;
    color: #323238;
}

.description {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.3rem;
    color: #949C9E;
}

.sub-description {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3rem;
    text-align: center;
    color: #655B5B;
}

.shadow {
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05), -4px -4px 40px rgba(0, 0, 0, 0.05);

}

.bg-color {
    background: #FFFFFF;
}

.offer-card {
    display: flex;
    justify-content: center;

}

.Detailed-listing {
    margin-top: -3rem;
    height: 40.94rem;
    width: 69rem;
    background: #FFFFFF;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05), -4px -4px 40px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.title {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: #323238;
}

.listing{
   margin-left: 12rem;
}

.list-para {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #323238;
    
}

.icon{
    color: var(--color-primary);
    height: 1.983rem;
    width: 1.983rem;
}
