<section class="section my-24 px-6 mx-auto">

    <!-- Section: Design Block -->
    <div class="mb-8 text-gray-800">
		<h2 class="text-5xl font-extrabold dark:text-white mb-12 text-center">Choose the best plan for you</h2>

        <div class="grid lg:grid-cols-12 pricing-card">
            <div class="mb-6 lg:mb-0 card" *ngFor="let priceCard of pricing">
                <div class="block rounded-lg shadow bg-color ">
                    <div class="p-10 text-center">
                        <h3 class="text-2xl mb-6">
                            <strong>${{ priceCard.price }}</strong>
                        </h3>

                        <p class="description text-sm"> {{ priceCard.type }} </p>

                        <p class="sub-description mb-4 text-sm">({{ priceCard.duration }})</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="mb-6 lg:mb-0 offer-card">
        <div class="block rounded-lg detailed-listing ">
			<h2 class="text-5xl font-extrabold dark:text-white mb-12 text-center">What we offer</h2>

            <div class="min-w-full mt-9 text-gray-900 bg-white dark:bg-gray-700 dark:text-white ">
    
				<div type="list" *ngFor="let offer of offers"
					class="inline-flex mb-6 relative items-center py-2 px-4 w-full text-sm font-medium listing list-para">
                    <svg aria-hidden="true" class="mr-6 fill-current icon" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
                            clip-rule="evenodd">
						</path>
                    </svg>
					
					<div>{{ offer }}</div>
                </div>
            </div>
        </div>
    </div>
</section>