<app-header></app-header>
<carosuel [autoPlayDuration]="5000" animation="slide" [isNavigationVisible]="true" [isThumbnailsVisible]="true" [slides]="slides"
    [slideTemplateRef]="slide" [thumbnailTemplateRef]="thumbnail"></carosuel>

<div class="app-rules">
    <h3 class="app-heading">One App To Rule Them All</h3>
    <div class="setting">
        <div class="setting-box">
            <div class="setting-icon">
                <img src="assets/images/ic1.png" alt="">
            </div>
            <div class="setting-title">To-Do List</div>
        </div>
        <div class="setting-box">
            <div class="setting-icon">
                <img src="assets/images/ic2.png" alt="">
            </div>
            <div class="setting-title">Habit Tracker</div>
        </div>
        <div class="setting-box">
            <div class="setting-icon">
                <img src="assets/images/ic3.png" alt="">
            </div>
            <div class="setting-title">Journaling</div>
        </div>
        <div class="setting-box">
            <div class="setting-icon"><img src="assets/images/ic4.png" alt=""></div>
            <div class="setting-title">Notes</div>
        </div>
        <div class="setting-box">
            <div class="setting-icon"><img src="assets/images/ic5.png" alt=""></div>
            <div class="setting-title">Lists</div>
        </div>
    </div>
</div>

<description-view [imageDirection]="'left'" [imageUrl]="'assets/images/mob1.png'"></description-view>
<description-view [imageDirection]="'right'" [imageUrl]="'assets/images/mob2.png'"></description-view>
<description-view [imageDirection]="'left'" [imageUrl]="'assets/images/mob3.PNG'"></description-view>

<customize-view [imageDirection]="'left'" [imageUrl]="'assets/images/mob5.png'"></customize-view>
<customize-view [imageDirection]="'right'" [imageUrl]="'assets/images/mob6.png'"></customize-view>

<div class="video-section">
    <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20 ">
        <div class="relative mb-6 sm:mx-auto md:mb-10 md:max-w-md lg:max-w-lg">
            <img class="object-cover w-full h-56 rounded shadow-lg md:h-64 lg:h-80 mt-40"
                src="https://images.pexels.com/photos/927022/pexels-photo-927022.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260"
                alt="" /><a href="/" aria-label="Play Video"
                class="absolute inset-0 flex items-center justify-center w-full h-full transition-colors duration-300 bg-gray-900 bg-opacity-50 group hover:bg-opacity-25">
                <div
                    class="flex items-center justify-center w-16 h-16 transition duration-300 transform bg-gray-100 rounded-full shadow-2xl group-hover:scale-110">
                    <svg class="w-10 text-gray-900" fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M16.53,11.152l-8-5C8.221,5.958,7.833,5.949,7.515,6.125C7.197,6.302,7,6.636,7,7v10 c0,0.364,0.197,0.698,0.515,0.875C7.667,17.958,7.833,18,8,18c0.184,0,0.368-0.051,0.53-0.152l8-5C16.822,12.665,17,12.345,17,12 S16.822,11.335,16.53,11.152z">
                        </path>
                    </svg>
                </div>
            </a>
        </div>
        <div class="mb-16 md:mb-0 md:max-w-xl sm:mx-auto md:text-center">

            <p class="mb-5 text-base text-gray-700 md:text-lg">
                Watch Mevolve demo video to understand the application.
            </p>

        </div>
    </div>
</div>
<app-pricing></app-pricing>
<app-contact-us></app-contact-us>
<ng-template #slide let-slide>
  <div [ngStyle]="{
    'background-size': 'cover',
    'background-image': 'url(' + slide.url + ')',
    'background-repeat': 'no-repeat',
    'width': '100%',
    'height': '100%'
  }">
  </div>
</ng-template>
<ng-template #thumbnail let-slide>
      <div [ngStyle]="{
      'background-size': 'cover',
      'background-image': 'url(' + slide.url + ')',
      'background-repeat': 'no-repeat',
      'background-position': 'center center',
      'width': '100%',
      'height': '100%'
    }"></div>
</ng-template>

<app-footer></app-footer>