.container{
    height: 420px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 300px;
    margin-bottom: 30px;

    .img-section {
        height: 100%; 
        width: 28%;
        min-width: 250px;
    }

    .description-section {
        height: 100%; 
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        
        .title {
            font-size: 24px;
            font-weight: 500;
        }

        .feature{
            font-size: 16px;
            font-weight: 500;
            color: #1da1f2;
            display: flex;
            justify-content: space-between;
        }
        .toggle {
            width: 200px;
            display: flex;
            gap: 10px;
        }

        .info {
            margin-left: 50px;
            color: gray;
            width: 300px;
        }

        .mode {
            display: flex;
            justify-content: flex-start;
            gap: 25px;
            align-items: center;

            .mode-desc {
                font-weight: 500;
                display: flex;
                justify-content: space-between;
                width: 411px;
            }
        }
    }
}

@media screen and (max-width: 1100px){
	.container {

        display: flex !important;
		flex-direction: column !important;
        height: 780px;
        align-items: center;
        padding: 0;

        .img-section {
            min-width: 300px;
        }

        .description-section {
            min-width: 300px;
        }
	}
}    