.container{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
	gap: 3rem;

    .img-section {
        width: 35rem;
    }

    .description-section {
		display: flex;
		flex-direction: column;
		font-size: 1.6rem;

		.card {
			box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.02), -4px -4px 40px rgba(0, 0, 0, 0.02);
			padding: 1rem 2rem;
		}

        .feature {
            font-weight: 500;
            color: #1da1f2;
        }

        .info {
            margin-left: 4rem;
            color: #9E9E9E;
            width: 30rem;
        }

        .mode {
            display: flex;
            justify-content: flex-start;
            gap: 25px;
            align-items: center;
			color: #323238;
			background-color: #fff;

            .mode-desc {
                font-weight: 500;
                display: flex;
                justify-content: space-between;
                width: 411px;
            }
        }
    }
}

@media screen and (max-width: 1100px){
	.container {
        display: flex !important;
		flex-direction: column !important;
        height: 780px;
        align-items: center;
        padding: 0;

        .img-section {
            min-width: 300px;
        }

        .description-section {
            min-width: 300px;
        }
	}
}    