.section {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
	gap: 3rem;

	@media screen and (max-width: 960px) {
		flex-direction: column !important;
		align-items: center;
	}

	.img-section {
		width: 30rem;
	}

    .description-section {
		display: flex;
		flex-direction: column;
		font-size: 1.7rem;

		@media screen and (max-width: 960px) {
			margin-top: 0 !important;
			margin: 0 2rem;

			h2 {
				text-align: center;
			}
		}

		@media screen and (max-width: 960px) {
			width: 50%;
		}

		@media screen and (max-width: 800px) {
			width: 65%;
		}

		@media screen and (max-width: 700px) {
			width: 80%;
		}

		@media screen and (max-width: 500px) {
			width: 90%;
		}

		.card {
			box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.02), -4px -4px 40px rgba(0, 0, 0, 0.02);
			padding: 1rem 2rem;
		}

        .feature {
            font-weight: 500;
            color: #1da1f2;
        }

        .info {
			margin-top: 1rem;
    		line-height: 1.4;
            margin-left: 4rem;
            color: #9E9E9E;
            width: 40rem;

			@media screen and (max-width: 960px) {
				width: calc(100% - 4rem);
			}
        }

        .mode {
            display: flex;
			flex-direction: column;
			color: #323238;
			background-color: #fff;

            .mode-desc {
                font-weight: 500;
                display: flex;
                justify-content: space-between;
				width: 40rem;

				@media screen and (max-width: 960px) {
					width: 100%;
				}
            }
        }
    }
}   