.section {
    display: flex;
    justify-content: center;

	@media screen and (max-width: 1100px){
		flex-direction: column !important;
		align-items: center;
		padding: 0;
	}

	.img-section {
		width: 45rem;

		@media screen and (max-width: 500px){
			width: 35rem;
		}
	}

    .description-section {
        display: flex;
        flex-direction: column;
        justify-content: center;

		@media screen and (max-width: 500px){
			margin-left: 0 !important;
		}

		@media screen and (max-width: 1100px){
			margin-left: 0;
		}

        .info {
            color: #9E9E9E;
        }

        .list {
            list-style-type: disc;
            margin-left: 2.5rem;

			@media screen and (max-width: 500px){
				font-size: 1.2rem;
				margin: 0 4rem;
			}
        }
    }
}

.mt-first {
	margin-top: -4rem;

	@media screen and (max-width: 500px){
		margin-top: 0;
	}
}