/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* You can add global styles to this file, and also import other style files */
* {
	margin: 0;
	padding: 0;
}

:root {
	--color-primary: #1DA1F2;
	--color-secondary: #424242;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; //1rem = 10px; (10/16 * 100 = 62.5)
}

body {
	font-family: 'Roboto';
	font-weight: 400;
	line-height: 1.6;
	font-size: 1.6rem;
}

.video-section {
	height: 50.9rem;
	width: 100%;
	background: #FAFAFA;
}

.video-para {
	font-weight: 400;
	font-size: 2rem;
	line-height: 2.3rem;
	text-align: center;
	color: #9E9E9E;
}