/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* You can add global styles to this file, and also import other style files */
* {
	margin: 0;
	padding: 0;
}

:root {
	--color-primary: #1DA1F2;
	--color-secondary: #424242;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; //1rem = 10px; (10/16 * 100 = 62.5)
}

body {
	font-family: 'Roboto';
	font-weight: 400;
	line-height: 1.6;
	font-size: 1.6rem;
}

.video-section {
	height: 50.9rem;
	width: 100%;
	background: #FAFAFA;
}

.video-para {
	font-weight: 400;
	font-size: 2rem;
	line-height: 2.3rem;
	text-align: center;
	color: #9E9E9E;
}

.app-rules {
	height: 20.32rem;
	background: #FAFAFA;
	margin-bottom: 4.8rem;
}

.app-heading {
	display: flex;
	justify-content: center;
	font-weight: 600;
	font-size: 2rem;
	line-height: 2.3rem;
	color: #323238;
}

.setting {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.setting-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	gap: 2rem;
	height: 10.19rem;
	width: 13rem;
	background: #FFFFFF;
	border-radius: 6px;
	margin-top: 3rem;
}

.setting-title {
	font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #323238;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
